/* Colors */
.pbta.sheet {
  /* Stats */
  /* Tabs */
  /* Description Tab */
}
.pbta.sheet .window-header {
  background-color: #1b0328;
}
.pbta.sheet .sheet-attributes {
  position: relative;
}
.pbta.sheet .sheet-attributes .cell--stats .stat {
  max-width: 155px;
  background-color: #55067a !important;
}
.pbta.sheet .sheet-attributes .cell--stats .stat:hover {
  background: #434343 !important;
}
.pbta.sheet .sheet-attributes .cell--stats .stat .stat-value {
  color: #602C63;
  background: rgba(255, 255, 255, 0.85);
}
.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title {
  color: #ffffff;
}
.pbta.sheet .cell__title {
  color: #602C63;
}
.pbta.sheet .tabs {
  border-bottom: 2px solid #1b0328;
}
.pbta.sheet .sheet-tabs.tabs > a.item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(199, 189, 200, 0.2);
  border-top: 1px solid #1b0328;
  border-left: 1px solid #1b0328;
  border-right: 1px solid #1b0328;
  color: #1b0328;
}
.pbta.sheet .sheet-tabs.tabs > a.item.active, .pbta.sheet .sheet-tabs.tabs > a.item.active:hover {
  background-color: #1b0328;
  color: #ffffff;
}
.pbta.sheet .sheet-tabs.tabs > a.item:hover, .pbta.sheet .sheet-tabs.tabs > a.item:focus {
  background-color: #434343;
  color: #ffffff;
  font-weight: bold;
}
.pbta.sheet .sheet-attributes-top {
  padding: 0;
}
.pbta.sheet .sheet-attributes-top .cell--attributes-top .cell {
  padding-top: 5px;
}
.pbta.sheet .description .sheet-tab {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 5px;
}
.pbta.sheet .description .sheet-tab .lookOne, .pbta.sheet .description .sheet-tab .lookTwo, .pbta.sheet .description .sheet-tab .lookThree, .pbta.sheet .description .sheet-tab .demeanor {
  flex-basis: 24%;
}
.pbta.sheet .description .sheet-tab .lookOne .editor-content, .pbta.sheet .description .sheet-tab .lookTwo .editor-content, .pbta.sheet .description .sheet-tab .lookThree .editor-content, .pbta.sheet .description .sheet-tab .demeanor .editor-content {
  min-height: 50px;
}
.pbta.sheet .description .sheet-tab .lookTwo .cell__title, .pbta.sheet .description .sheet-tab .lookThree .cell__title {
  visibility: hidden;
}
.pbta.sheet .description .sheet-tab .questionOne, .pbta.sheet .description .sheet-tab .questionTwo, .pbta.sheet .description .sheet-tab .questionThree, .pbta.sheet .description .sheet-tab .questionFour, .pbta.sheet .description .sheet-tab .questionFive {
  flex-basis: 100%;
}
.pbta.sheet .description .sheet-tab .questionOne .editor-content, .pbta.sheet .description .sheet-tab .questionTwo .editor-content, .pbta.sheet .description .sheet-tab .questionThree .editor-content, .pbta.sheet .description .sheet-tab .questionFour .editor-content, .pbta.sheet .description .sheet-tab .questionFive .editor-content {
  min-height: 100px;
}
.pbta.sheet .description .sheet-tab .questionTwo .cell__title, .pbta.sheet .description .sheet-tab .questionThree .cell__title, .pbta.sheet .description .sheet-tab .questionFour .cell__title, .pbta.sheet .description .sheet-tab .questionFive .cell__title {
  display: none;
}
.pbta.sheet .description .sheet-tab .notes {
  flex-basis: 100%;
}
.pbta.sheet .description .sheet-tab .notes .editor-content {
  min-height: 200px;
}

.vtt div[id^=PbtaActorSheet] {
  /* Colors */
  /* Stats */
  /* Advancements */
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat {
  min-width: 140px;
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat:nth-child(n+5) {
  background-color: #1b0328 !important;
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat:nth-child(n+5) .stat-toggle {
  display: none;
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat:nth-child(n+5):hover {
  background: #434343 !important;
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat:nth-child(n+5) .cell__clock {
  padding-bottom: 12px;
  display: inline-block;
  position: relative;
  text-align: center;
}
.vtt div[id^=PbtaActorSheet] .sheet-attributes .cell--stats .stat:nth-child(n+5) .cell__clock::after {
  content: "Status";
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.vtt div[id^=PbtaActorSheet] .cell--attr-advancement ul.cell__checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.vtt div[id^=PbtaActorSheet] .cell--attr-advancement ul.cell__checkboxes label:nth-child(odd) {
  unicode-bidi: embed;
  direction: rtl;
  text-align: left;
}
.vtt div[id^=PbtaActorSheet] .cell--attr-harm ul.cell__checkboxes label:nth-child(1) {
  position: absolute;
  top: 7px;
  right: 0;
  unicode-bidi: embed;
  direction: rtl;
  text-align: left;
}
.vtt div[id^=PbtaActorSheet] .cell--attr-corruption .cell__clock {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  top: 7px;
  right: 0;
}
.vtt div[id^=PbtaActorOtherSheet] {
  /* Colors */
  /* Stats */
}
.vtt div[id^=PbtaActorOtherSheet] .sheet-playbook {
  display: none;
}
.vtt div[id^=PbtaActorOtherSheet] .sheet-attributes .cell--stats .stat {
  max-width: 200px;
  min-height: 75px;
  margin-top: 30px;
}
.vtt div[id^=PbtaActorOtherSheet] .sheet-attributes .cell--stats .stat .stat-toggle {
  display: none;
}
.vtt div[id^=PbtaActorOtherSheet] .sheet-attributes .cell--stats .stat:hover {
  background: #434343 !important;
}
.vtt div[id^=PbtaActorOtherSheet] .cell--attr-circles ul.cell__checkboxes, .vtt div[id^=PbtaActorOtherSheet] .cell--attr-stance ul.cell__checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.vtt div[id^=PbtaActorOtherSheet] .cell--attr-circles ul.cell__checkboxes label:nth-child(odd), .vtt div[id^=PbtaActorOtherSheet] .cell--attr-stance ul.cell__checkboxes label:nth-child(odd) {
  unicode-bidi: embed;
  direction: rtl;
  text-align: left;
}
.vtt div[id^=PbtaActorOtherSheet] .cell--attr-recruitment .cell__clock, .vtt div[id^=PbtaActorOtherSheet] .cell--attr-resources .cell__clock {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  top: 7px;
  right: 0;
}
.vtt div[id^=PbtaActorOtherSheet] .sheet-wrapper .sheet-header {
  position: absolute;
  left: 190px;
  width: -webkit-fill-available;
  margin-right: 20px;
}
.vtt div[id^=PbtaActorOtherSheet] a[data-tab=equipment] {
  display: none;
}
.vtt .npc .cell--attr-status .cell__clock {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  top: 7px;
  right: 0;
}
.vtt .npc .cell--attr-circle ul.cell__checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.vtt .npc .cell--attr-circle ul.cell__checkboxes label:nth-child(odd) {
  unicode-bidi: embed;
  direction: rtl;
  text-align: left;
}
.vtt .npc .description .sheet-tab .look, .vtt .npc .description .sheet-tab .demeanor, .vtt .npc .description .sheet-tab .information, .vtt .npc .description .sheet-tab .debts {
  flex-basis: 49%;
}
.vtt .npc .description .sheet-tab .look .editor-content, .vtt .npc .description .sheet-tab .demeanor .editor-content, .vtt .npc .description .sheet-tab .information .editor-content, .vtt .npc .description .sheet-tab .debts .editor-content {
  min-height: 75px;
}
