# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
packs/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#scss
.sass-cache/
*.css.map
*.sass.map
*.scss.map

#OS
.DS_Store

# Pbta Template
build/

# Environment variables
.env
# CLAUDE.md
tools/create-location-tables-fixed.mjs
tools/create-location-tables.mjs
# tools/pdf-processor.mjs
raw-assets/UrbanShadows2-CoreBook_unlocked_part1.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part2.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part3.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part4.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part5.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part6.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked_part7.pdf
raw-assets/UrbanShadows2-CoreBook_unlocked.pdf
raw-assets/UrbanShadows2-CoreBook.pdf
