@use "colors";

.sheet-header__fields 
.sheet-playbook 
.view-playbook, 
.sheet-header__fields 
.sheet-playbook [data-action=advancement] {
    background-color: colors.$c-dark-purple;
}

.sheet-wrapper .sheet-header {
    margin-bottom: 4px;
    min-height: unset;
}

/* Stats */
.sheet-attributes-top {
    .cell--attributes-top {
        .cell {
            ul, ol {
                margin: 0.5rem 0;
            }
        }
    }
}
.sheet-attributes {
    .cell--stats{
        .stat {
            min-width: 140px;

            .stat-toggle {
                display: inline-flex;
                width: fit-content;
                height: fit-content;
                align-items: flex-start;
            }
            
            &:nth-child(n + 5) {
                background-color: colors.$c-dark-purple !important;
                .stat-toggle {
                    display: none;
                }

                &:hover {
                    background: colors.$c-hover !important;
                }
                
                .cell__clock{
                    padding-bottom: 12px;
                    display: inline-block;
                    position: relative;
                    text-align: center;

                    &::after {
                        content: "Status";
                        font-size: 10px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.playbook-attributes {
    .pb-attr {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 5px;
    }
}

.advancements {
    .advancements-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        & > * {
            flex: 1;
        }
    }
}

/* Advancements */

.cell--attr-harm{
    ul.cell__checkboxes {
        label:nth-child(1) {
            position: absolute;
            top: 7px;
            right: 0;
            unicode-bidi: embed;
            direction: rtl;
            text-align: left;
        }
    }
}


.cell--attr-corruption  {
    .cell__clock {
        align-items: flex-end;
        justify-content: flex-end;
        gap: 5px;
        position: absolute;
        top: 7px;
        right: 0;
    }
}