/* Colors */
$background-color: #fffaec;
$c-white: #ffffff;

$c-light-purple: rgb(199, 189, 200);
$c-light-purple-20: #c7bdc833;
$c-purple: #55067a;

$c-dark-purple: rgb(27, 3, 40);
$c-hover: #434343;
$c-plum: #602C63;