/* Colors */
$background-color: #fffaec;
$c-white: #ffffff;

$c-light-purple: #c7bdc8;
$c-light-purple-20: #c7bdc833;
$c-purple: #55067a;

$c-dark-purple: #1b0328;
$c-hover: #434343;
$c-plum: #602C63;