<div class="tab connections" data-group="primary" data-tab="connections">
	{{~> "pbta.actor-attributes" attrs=system.connectionsAttributes cssClass="cell--connections-tab" owner=owner editable=editable ~}}
</div>
