<div class="tab tables" data-group="primary" data-tab="tables">

{{log system.tablesAttributes}}
    {{~> "pbta.actor-attributes" attrs=system.tablesAttributes cssClass="cell--tables-tab" owner=owner editable=editable ~}}
    
    {{#each system.details as |result key|}}
        <div class="cell cell--bio {{key}}">
            {{#if result.label}}<label class="cell__title">{{result.label}}</label>{{/if}}
            {{editor result.enriched target=(concat "system.details" key "value" join=".") button=true owner=@root.owner editable=@root.editable engine="prosemirror" collaborate=false}}
        </div>
    {{/each}}
</div>
